{% extends 'base/base.html' %}
{% load static %}
{% block title %} Contract {% endblock %} 

{% block content %}
    <style>
      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }

      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
      }

      .tab button:hover {
        background-color: #ddd;
      }

      .tab button.active {
        background-color: #ccc;
      }

      .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
      }
    </style>
<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  </head>
  <body>
    <div class="tab">
      <button id="inprogress" class="tablinks" onclick="openTab(event, 'inprogressText')">In Progress</button>
      <button id="completed" class="tablinks" onclick="openTab(event, 'completedText')">Completed</button>
      <button id="past" class="tablinks" onclick="openTab(event, 'pastc')">Past Contract</button>

    </div>
    <div id="inprogressText" class="tabcontent">
    </div>
    <div id="completedText" class="tabcontent">
     <p>c</p>
    </div>
    <div id="pastc" class="tabcontent">
      <p>c</p>
     </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Enter Contract Termination Reason</h5>
            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-md rounded">
              <div class = "card">
                  <!-- <div class = "card-title"> <h2 class=" mt-3 mb-4 display-4 text-center"></h2>   </div> -->
                  <div class = "card-body"> 
                      <form id="my-form" class = "form-container" method = "POST" action = "{% url 'contract' %}">
                          {% csrf_token %}
                          {% for field in form %}
                              <div class = "form form-group">
                                  <div class="input-group input-group-static mt-2">
                                      <label class = "input-group input-group-static">{{ field.label_tag }}</label>
                                      {{ field }}
                                  </div>
                              </div>
                          {% endfor %}
                          
                          <div class="modal-footer">
                            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-gradient-primary">Make Contract</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          
        </div>
      </div>
    </div>

  </body>
</html>
    <script>
      let t  = document.getElementsByClassName('form form-group');
      t[t.length-1].setAttribute('hidden','true')
      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
      const firebaseConfig = {
    apiKey: "AIzaSyCWzp6-kj52hdmmhDfR810nJLLfJkrxS5I",
    authDomain: "ng-test-fb229.firebaseapp.com",
    databaseURL: "https://ng-test-fb229-default-rtdb.firebaseio.com",
    projectId: "ng-test-fb229",
    storageBucket: "ng-test-fb229.appspot.com",
    messagingSenderId: "841168642654",
    appId: "1:841168642654:web:c9a1ad16dddda7bfa88acf"
    };
    firebase.initializeApp(firebaseConfig);
    const db=firebase.firestore()
    var msid=JSON.parse('{{ msid|escapejs }}');
    var key=JSON.parse('{{ key|escapejs }}');

    var district = db.collection(key);

var milkSocietyRef = district.doc("milkSociety");

var districtMsRef = milkSocietyRef.collection("district_ms");
var msdoc = districtMsRef.doc(msid);

var contract=msdoc.collection('Contract')
contract.onSnapshot(function(snapshot) {
  snapshot.docChanges().forEach(function(change) {
    var fid=change.doc.id
    var data=change.doc.data()
    if (change.type === "added") {
      if (data['status']=='Completed'){
        create_card(fid,data,1)
      }
      else if(data['status']=='Terminated'){
        create_card(fid,data,2)
      }
      else{
      create_card(fid,data,0)

      }


    }
    if (change.type === "modified") {
      if (data['status']=='Completed'){
        card=document.querySelector('#'+change.doc.id)
        document.querySelector('#inprogressText').removeChild(card)
        
        create_card(fid,data,1)
      }
      else if (data['status']=='Terminated'){
        card=document.querySelector('#'+change.doc.id)
        document.querySelector('#CompletedText').removeChild(card)
        
        create_card(fid,data,2)
      }
      
      console.log("Modified doc: ", change.doc.data());
    }
    if (change.type === "removed") {
      card=document.querySelector('#'+change.doc.id)
      document.querySelector('#inprogressText').removeChild(card)
    }
  });
});

function create_card(fid,data,chk) {

// Create card element
var card = document.createElement("div");
card.className = "card w-80";
card.id=fid

// Create card header
var cardHeader = document.createElement("h5");
cardHeader.className = "card-header";
cardHeader.innerHTML = "Farmer "+data['f_name'];
cardHeader.style.backgroundColor = "rgb(209, 219, 219)";

// Create card body
var cardBody = document.createElement("div");
cardBody.className = "card-body";

// Create card title
var cardTitle = document.createElement("h6");
cardTitle.className = "card-title";
cardTitle.innerHTML = "Contract Details";

cardBody.appendChild(cardTitle);
// Create card text
var cardText = document.createElement("p");
cardText.className = "card-text";
cardText.innerHTML = "Milk Type: "+data['milk_type']
cardBody.appendChild(cardText);


var cardText = document.createElement("p");
cardText.className = "card-text";
cardText.innerHTML = "Shift: "+data['shift']
cardBody.appendChild(cardText);


var cardText = document.createElement("p");
cardText.className = "card-text";
cardText.innerHTML = "Quantity(in Ltr): "+data['qty']
cardBody.appendChild(cardText);

var cardText = document.createElement("p");
cardText.className = "card-text";
cardText.innerHTML = "Status: "+data['status']
if(data['status']=="Completed"){
  cardText.style.color="green"

}
if(data['status']=="Rejected"){
  cardText.style.color="red"

}
cardBody.appendChild(cardText);

var cardText = document.createElement("p");
cardText.className = "card-text";

rt=data['end_date'].toDate()
let fd = rt.toLocaleDateString("en-US", {year: "numeric", month: "short", day: "numeric"});
cardText.innerHTML = "Contract End Date: "+fd
cardBody.appendChild(cardText);

var cardText = document.createElement("p");
cardText.className = "card-text";
var today=new Date()
var diff = rt-today;
var diffInDays = Math.ceil(diff / 86400000);
cardText.innerHTML = "Contract Validity(days): "+diffInDays
cardBody.appendChild(cardText);

// Create button
if(chk!=2){
var button = document.createElement("a");
var icon = document.createElement("i");
icon.classList.add("fas", "fa-eye");
button.appendChild(icon);
button.className = "btn btn-primary";
button.innerHTML += " View Contract";
button.setAttribute("href", data['url']);
button.setAttribute("target", "_blank");
button.style.position='absolute'
button.style.bottom='10px'
button.style.right='10px'
cardBody.appendChild(button);

}




if(chk==0){

  var button = document.createElement("button");
  var icon = document.createElement("i");
  icon.classList.add("fas", "fa-trash");
  button.appendChild(icon);
  button.className = "btn btn-danger";
  button.innerHTML += " Remove";
  if(data['status']=="Pending"){

  button.setAttribute('disabled','disabled')
  }
  button.style.position='absolute'
  button.style.bottom='60px'
  button.style.right='10px'
  // Append elements to card body
  button.onclick=function (){
      contract.doc(fid).delete()

  }
  cardBody.appendChild(button);
}
if(data['status']=='Completed'){

  var button = document.createElement("button");
  var icon = document.createElement("i");
  icon.classList.add("fas", "fa-trash");
  button.appendChild(icon);
  button.className = "btn btn-danger";
  button.innerHTML += " Terminate";
  button.style.position='absolute'
  button.style.bottom='60px'
  button.style.right='10px'

  button.onclick=function (){
      // contract.doc(fid).delete()
      $("#exampleModal").modal("show")
      document.querySelector('#id_fid').value=fid

  }
  cardBody.appendChild(button);
}
if(chk==2){

var cardText = document.createElement("p");
cardText.className = "card-text";
cardText.innerHTML = "Reason: "+data['reason']
cardBody.appendChild(cardText);
}


// Append header and body to card
card.appendChild(cardHeader);
card.appendChild(cardBody);

// Add card to document
var br = document.createElement("br");
if (chk==0){

    document.getElementById("inprogressText").appendChild(card);
    document.getElementById("inprogressText").appendChild(br);
}
else if (chk==1){
    document.getElementById("completedText").appendChild(card);
    document.getElementById("completedText").appendChild(br);
}
else{
  document.getElementById("pastc").appendChild(card);
  document.getElementById("pastc").appendChild(br);
}
}

    </script>


{% endblock %} 
