{% extends 'base/base.html' %}
{% load static %}
{% block title %} Contract {% endblock %} 

{% block content %}
    <style>
      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }

      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
      }

      .tab button:hover {
        background-color: #ddd;
      }

      .tab button.active {
        background-color: #ccc;
      }

      .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
      }
    </style>
<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  </head>
  <body>
    <div class="tab">
      <button id="inprogress" class="tablinks" onclick="openTab(event, 'inprogressText')">In Progress</button>
      <button id="completed" class="tablinks" onclick="openTab(event, 'completedText')">Completed</button>
    </div>
    <div id="inprogressText" class="tabcontent">
    </div>
    <div id="completedText" class="tabcontent">
     <p>c</p>
    </div>

  </body>
</html>
    <script>
      function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
      const firebaseConfig = {
    apiKey: "AIzaSyCWzp6-kj52hdmmhDfR810nJLLfJkrxS5I",
    authDomain: "ng-test-fb229.firebaseapp.com",
    databaseURL: "https://ng-test-fb229-default-rtdb.firebaseio.com",
    projectId: "ng-test-fb229",
    storageBucket: "ng-test-fb229.appspot.com",
    messagingSenderId: "841168642654",
    appId: "1:841168642654:web:c9a1ad16dddda7bfa88acf"
    };
    firebase.initializeApp(firebaseConfig);
    const db=firebase.firestore()
    var msid=JSON.parse('{{ msid|escapejs }}');
    var key=JSON.parse('{{ key|escapejs }}');

    var district = db.collection(key);

var milkSocietyRef = district.doc("milkSociety");

var districtMsRef = milkSocietyRef.collection("district_ms");
var msdoc = districtMsRef.doc(msid);

var contract=msdoc.collection('Contract')
contract.onSnapshot(function(snapshot) {
  snapshot.docChanges().forEach(function(change) {
    if (change.type === "added") {
      var fid=change.doc.id
      var data=change.doc.data()
      console.log(data['f_name']);
      create_card(fid,data,0)


    }
    if (change.type === "modified") {
      console.log("Modified doc: ", change.doc.data());
    }
    if (change.type === "removed") {
      card=document.querySelector('#'+change.doc.id)
      document.querySelector('#inprogressText').removeChild(card)
    }
  });
});

function create_card(fid,data,chk) {

// Create card element
var card = document.createElement("div");
card.className = "card w-80";
card.id=fid

// Create card header
var cardHeader = document.createElement("h5");
cardHeader.className = "card-header";
cardHeader.innerHTML = "Farmer "+data['f_name'];
cardHeader.style.backgroundColor = "rgb(209, 219, 219)";

// Create card body
var cardBody = document.createElement("div");
cardBody.className = "card-body";

// Create card title
var cardTitle = document.createElement("h6");
cardTitle.className = "card-title";
cardTitle.innerHTML = "Contract Details";

cardBody.appendChild(cardTitle);
// Create card text
var cardText = document.createElement("p");
cardText.className = "card-text";
cardText.innerHTML = "Milk Type: "+data['milk_type']
cardBody.appendChild(cardText);


var cardText = document.createElement("p");
cardText.className = "card-text";
cardText.innerHTML = "Shift: "+data['shift']
cardBody.appendChild(cardText);


var cardText = document.createElement("p");
cardText.className = "card-text";
cardText.innerHTML = "Quantity(in Ltr): "+data['qty']
cardBody.appendChild(cardText);

var cardText = document.createElement("p");
cardText.className = "card-text";
cardText.innerHTML = "Status: "+data['status']
cardBody.appendChild(cardText);

var cardText = document.createElement("p");
cardText.className = "card-text";
rt=data['end_date'].toDate()
let fd = rt.toLocaleDateString("en-US", {year: "numeric", month: "short", day: "numeric"});
cardText.innerHTML = "Contract End Date: "+fd
cardBody.appendChild(cardText);
// Create button
var button = document.createElement("button");
var icon = document.createElement("i");
icon.classList.add("fas", "fa-eye");
button.appendChild(icon);
button.className = "btn btn-info";
button.innerHTML += " View Contract";
button.setAttribute("target", "_blank");
button.setAttribute("href", data['url']);
button.style.position='absolute'
button.style.bottom='10px'
button.style.right='10px'
// Append elements to card body
cardBody.appendChild(button);


var button = document.createElement("button");
var icon = document.createElement("i");
icon.classList.add("fas", "fa-trash");
button.appendChild(icon);
button.className = "btn btn-danger";
button.innerHTML += " Remove";
// button.setAttribute('disabled','disabled')
button.style.position='absolute'
button.style.bottom='60px'
button.style.right='10px'
// Append elements to card body
button.onclick=function (){
    contract.doc(fid).delete()


}
cardBody.appendChild(button);


// Append header and body to card
card.appendChild(cardHeader);
card.appendChild(cardBody);

// Add card to document
var br = document.createElement("br");
if (chk==0){

    document.getElementById("inprogressText").appendChild(card);
    document.getElementById("inprogressText").appendChild(br);
}
else{
    document.getElementById("completed").appendChild(card);
    document.getElementById("completed").appendChild(br);
}
}

    </script>


{% endblock %} 
