

{% extends 'base/loginbase.html' %} {% block title %} Register {% endblock %} 

{% block content %}
{% csrf_token %}

<form name = "Register" method = "POST" action = "{% url 'login' %}"> 
  {% csrf_token %}

  {% for field in form %}
  <div class = "form-group row">
    <div class="input-group input-group-static mb-4">
    {{ field.label_tag }}
    {{ field }}
    </div>
    <span class = "h6" style = "color:red;">{{ field.errors }} </span>
  </div>
 {% endfor %}
<br>
<div style = "text-align: center;">
    <button type = "submit" class = "btn btn-primary" >Login</button>
</div>
</form>

{% endblock %} 

{% block other_css %}

<style>
  form {
    width: 20%;
    margin: 0 auto;
    padding: 2%;
  }
  .ima{
    text-align: center;
  }
</style>

{% endblock %} 


