

{% extends 'base/loginbase.html' %}
{% load static %}
{% block title %} Login {% endblock %} 

{% block content %}

<script type ="module">

  import {app} from "{% static 'material_2_pro_assets/js/firebase.js' %}"
  import { getAuth,signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-auth.js";

  const auth = getAuth();

  console.log(app);
  auth.onAuthStateChanged(function(user) {
    if (user) {
      console.log("User is signed in");
    }
    else{
      console.log("No user is signed in");
    }
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  $("#login").click(()=>{
    var email = $("#id_email").val();
    var password = $("#id_password").val();
    console.log(email);
    console.log(password);
    let csrftoken = getCookie('csrftoken');
    
    //firebase auth registernewuser
    
      signInWithEmailAndPassword(auth,email, password).then((userCredentials)=>{
        const user = userCredentials.user;
        user.getIdToken().then((tokenVal)=>{
          fetch("{% url 'newuser' %}",{
            method : "POST",
            body : JSON.stringify({"tokenVal":tokenVal}),
            headers:{"X-CSRFToken": csrftoken}
          }).then(
            (response)=>{
              console.log(response);
              if(response.status == 200){
                console.log("User Created");
                window.location.replace("{% url 'index' %}")
              }
              


            }
          )        
        })
      })
      .catch(function(error) {
        console.log("invalid")

            var errorCode = error.code;
            var errorMessage = error.message;
            if (errorCode === 'auth/wrong-password') {
              document.getElementById('err_msg').innerHTML='Wrong password'

            } else if(errorCode=='auth/user-not-found') {
              document.getElementById('err_msg').innerHTML='Invalid username'
              
            }
            document.getElementById('alert_div').removeAttribute("hidden")

            console.log(error);
        });

    
    
    
    
      
        
});



</script>

<div class="alert alert-danger alert-dismissible text-white fade show" role="alert" id="alert_div" hidden >

  <span class="alert-text" id="err_msg"><strong></strong></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<div name = "Login" class = "card-body bg-white border-circular " action = "#"> 
<div class = "container">
<div  class = "container bg-white card-body rounded shadow-blur" style = "margin: 25px auto;" > 

 
  <div class = "form-group row">
    <div class="input-group input-group-static mb-4">
      <label class = "input-group input-group-static mb-4"> Enter Email</label>
      <input type = "email" class = "form-control" id = "id_email" value = "emailyogi01@gmail.com" name = "email" placeholder = "Enter Email" required>
    </div>
    <span class = "h6" style = "color:red;"> </span>
  </div>
  <div class = "form-group row">
    <div class="input-group input-group-static mb-4">
      <label class = "input-group input-group-static mb-4"> Enter Password</label>
      <input type = "password" class = "form-control" id = "id_password" value = "123456" name = "password" placeholder = "Enter Password" required>
    </div>
    <span class = "h6" style = "color:red;"></span>



  </div>
  
<br>

</div>
  </div>
  <br>
  <div style = "text-align: center;">
    <button id = "login" class = "btn btn-primary" >Login</button>
  </div>

</div>
</div>

<div class="ima">
    <a href = "{% url 'register' %}" > New Here ? Click here to register </a>
</div>



{% endblock %} 



{% block other_css %}

<style>
  form {
    width: 20%;
    margin: 0 auto;
    padding: 2%;
  }
  .ima{
    text-align: center;
  }
</style>

{% endblock %} 


