{% extends 'base/base.html' %}
{% load static %}
{% block title %} Login {% endblock %} 

{% block content %}

<!-- import {app,db} from "{% static 'material_2_pro_assets/js/firebase.js' %}" -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="container"></div>

  
  
</body>
</html>

<script>
  const firebaseConfig = {
    apiKey: "AIzaSyCWzp6-kj52hdmmhDfR810nJLLfJkrxS5I",
      authDomain: "ng-test-fb229.firebaseapp.com",
      databaseURL: "https://ng-test-fb229-default-rtdb.firebaseio.com",
      projectId: "ng-test-fb229",
      storageBucket: "ng-test-fb229.appspot.com",
      messagingSenderId: "841168642654",
      appId: "1:841168642654:web:c9a1ad16dddda7bfa88acf"
    };
    firebase.initializeApp(firebaseConfig);
    const db=firebase.firestore()
    
    // db.collection('Cluster_key').onSnapshot(snapshot=>{
    //   let changes=snapshot.docChanges()
    //   changes.forEach(change=>{
    //     console.log(change.doc.data());
    //   })
      
    // })
    var firestore = firebase.firestore();

var district = firestore.collection("Thane");

var milkSocietyRef = district.doc("milkSociety");

var districtMsRef = milkSocietyRef.collection("district_ms");

var msdoc = districtMsRef.doc("5shXr5O94LPZgy32R1FH9Y6iJuh1");
var req=msdoc.collection('Request')
req.onSnapshot(function(snapshot) {
  // console.log(snapshot.docChanges());
  snapshot.docChanges().forEach(function(change) {
    if (change.type === "added") {
      create_card(change.doc.id)
    }
    if (change.type === "modified") {
      console.log("Modified doc: ", change.doc.data());
    }
    if (change.type === "removed") {
      card=document.querySelector('#'+change.doc.id)
      document.querySelector('#container').removeChild(card)
    }
  });
});
function create_card(id){
  var card = document.createElement("div");
  card.className = "card card-frame";
  card.id=id

  // Create a card body element
  var cardBody = document.createElement("div");
  cardBody.className = "card-body";

  // Add text to the card body
  cardBody.innerHTML = id;

  // Append the card body to the card
  card.appendChild(cardBody);

  // Append the card to the desired container
  document.getElementById("container").appendChild(card);

}
// req.onSnapshot(function(doc) {
//     if (doc.exists) {
//         var request = doc(id);
//         request.forEach(function(req) {
//             // Create a new card element
            
//         });
//     } else {
//         console.log("No such document!");
//     }
// }, function(error) {
//     console.log("Error getting document: ", error);
// });


</script>

{% endblock %}