{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
    <form name = "MsRegistration" action ="{% url 'otherdetails' %}" method = "POST">
        {% csrf_token %}
        {{form}}
        <br>
        <button type = "submit" class = "btn btn-primary" >Register</button>
    </form>

    <h2 id = "firstmessage"> </h2>

{% endblock %}

{% block css %}

<style>
    form {
        width: 50%;
        margin: 0 auto;
        padding: 2%;
    }

</style>

{% endblock %}

