{% extends 'base/base.html' %}
{% load static %}
{% block title %} Register {% endblock %}

{% block content %}
   <div class = "container">
        <h1 class = "mt-3 mb-4 display-3 text-center">Register</h1>
        <form class = "form-container bg-white rounded shadow-blur p-3" name = "MsRegistration" action ="{% url 'otherdetails' %}" method = "POST">
            {% csrf_token %}
             {% for field in form %}
              <div class = "form-group row">
                {{ field.label_tag }}
                {{ field }}
                <span class = "h6" style = "color:red;">{{ field.errors }} </span>
             {% endfor %}
            <br>
            <div style = "text-align: center;">
                <button type = "submit" class = "btn btn-primary" >Register</button>
            </div>
        
        </form>
   </div>
{% endblock %}

{% block other_css %}

<style>
    form {
        width: 50%;
        margin: 0 auto;
        padding: 2%;
    }

</style>
<script>
function get_lat_lng(address) {
    fetch(`https://nominatim.openstreetmap.org/search?q=${address.value}&format=json`)
        .then(response => response.json())
        .then(data => {
            document.getElementById("id_latitude").value = data[0].lat;
            document.getElementById("id_longitude").value = data[0].lon;
        });
}

</script>
{% endblock %}

