{% extends 'base/base.html' %}
{% load static %}
{% block title %} Register {% endblock %}

{% block content %}
<div class="alert alert-danger alert-dismissible text-white fade show" role="alert" id="alert_div" hidden >

    <span class="alert-text" id="err_msg"><strong></strong></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
   <div class = "container">
    
        <h1 class = "mt-3 mb-4 display-3 text-center">Register</h1>
        <form class = "form-container bg-white rounded shadow-blur p-3" name = "MsRegistration" action ="{% url 'otherdetails' %}" method = "POST">
            {% csrf_token %}
             {% for field in form %}
              <div class = "form-group row">
                {{ field.label_tag }}
                {{ field }}
                <span class = "h6" style = "color:red;">{{ field.errors }} </span>
             {% endfor %}
            <br>
            <div style = "text-align: center;">
                
                <button type="button" class = "btn btn-primary" onclick="get_lat_lng()" >GetLatLng</button>
                <button type = "submit" class = "btn btn-primary" >Register</button>
            </div>
            
        </form>
    </div>
{% endblock %}

{% block other_css %}

<style>
    form {
        width: 50%;
        margin: 0 auto;
        padding: 2%;
    }

</style>
<script>
    function get_lat_lng() {

    add=document.getElementById("id_address").value
    city=document.getElementById("id_city").value
    if(add !="" && city !=""){
        address=add+" "+city
        console.log((address));

        const API_KEY = 'a5a7d8f4c6f24fcfb94f8168961e380f';
        const url = `https://api.opencagedata.com/geocode/v1/json?q=${address}&key=${API_KEY}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById("id_latitude").value = data.results[0].geometry.lat;
                document.getElementById("id_longitude").value = data.results[0].geometry.lng;
            });

    }
    else{
        $("#alert_div").attr("hidden",false);
        $("#err_msg").text("Enter Address and City to get Latitude and Longitude");
        console.log("Enter");
    }
    
}

// async function get_lat_lng(address) {
//     const url = "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/find?text=${address}&f=json";
//     try {
//         const response = await fetch(url);
//         const json = await response.json();
//         const lat = json.locations[0].feature.geometry.y;
//         const lng = json.locations[0].feature.geometry.x;
//         document.getElementById("id_latitude").value = lat;
//         document.getElementById("id_longitude").value =lng;
//     } catch (error) {
//         console.error(error);
//     }
// }

</script>
{% endblock %}

